.Home {
  display: flex;
  .topBar {
    height: 60px;
    background-color: rgb(40, 45, 47);
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-right: 1px solid gray;
    .profileImageContainer {
      border-radius: 50%;
      overflow: hidden;
      display: grid;
      place-content: center;
    }
    .name {
      color: #fff;
      font-weight: 700;
    }
  }
  .left {
    flex: 1;
    height: calc(100vh);
    display: flex;
    flex-direction: column;

    .allChatsContainer {
      flex: 1;
      overflow-y: auto;
    }
  }
  .right {
    height: 100vh;
    flex: 2;
    display: flex;
    flex-direction: column;
    .chatMessagesContainer {
      flex: 1;
      overflow: auto;
      padding: 10px 50px;
      background-image: url(/chatbgdark.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // border: 1px solid red;
    }
    .messageInputContainer {
    }
  }
}
