.ChatMessages {
  height: 100%;
  overflow: auto;
  padding: 10px 50px;
  background-image: url(/chatbgdark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
