.ChatItem {
  display: flex;
  height: 70px;
  align-items: flex-end;
  padding: 0 15px;
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: #1a2124;
  }
  &.selected {
    background-color: #2f3436;
  }
  .image {
    align-self: center;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-content: center;
  }
  .details {
    flex: 1;
    margin-left: 15px;
    padding-top: 10px;

    .row {
      display: flex;
      justify-content: space-between;
      .name {
        color: #fff;
        font-size: 18px;
        .highlight {
          color: var(--color-sea-green);
        }
      }
      .time {
        color: var(--color-gray);
      }
    }

    .message {
      color: var(--color-gray);
    }
    .divider {
      margin-top: 10px;
    }
  }
}
